<app-login-header></app-login-header>

<div class="table-container">
  <mat-card class="table-card">
    <mat-card-content>
      <table class="mat-elevation-z8">
        <tr class="column-names">
          <th>ID</th>
          <th>Course Name</th>
          <th>Course Duration</th>
          <th>Course Desc</th>
          <th>Trainer Name</th>
          <th>Software Req</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
        <tr class="data-row">
          <td>1</td>
          <td>Course 1</td>
          <td>2 weeks</td>
          <td>Description 1</td>
          <td>T</td>
          <td>s</td>
          <td>2-2-22</td>
          <td>3-2-22</td>
          <td>
            <button mat-mini-fab color="accent" class="circular-button">Enroll</button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
  

  <app-login-footer></app-login-footer>