<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>



<mat-toolbar color="primary" class="other-navbar" style="width: 100%;">
  <span style="margin-left: 43%;  width:100%; font-size: 130%;">MINDCRAFT</span>

  <i class='far fa-user-circle' data-bs-toggle="modal" data-bs-target="#example2" style='font-size:200%;color:white'></i>
</mat-toolbar>



<div class="table-container">
  <mat-card class="table-card">
    <mat-card-content>
      <table class="mat-elevation-z8">
        <tr class="column-names">
          <th>ID</th>
          <th>Course Name</th>
          <th>Course Duration</th>
          <th>Course Desc</th>
          <th>Trainer Name</th>
          <th>Software Req</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
        <tr class="data-row" *ngFor="let course of courses">
          <td>{{course.course_id}}</td>
          <td>{{course.course_name}}</td>
          <td>{{course.course_duration}}</td>
          <td>{{course.course_desc}}</td>
          <td>{{course.trainer_name}}</td>
          <td>{{course.software_req}}</td>
          <td>{{course.start_date}}</td>
          <td>{{course.end_date}}</td>
          <td>
            <button mat-raised-button color="primary" style="position: relative;">Enroll</button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
  


<div class="modal fade" id="example2" data-bs-backdrop="false">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <!-- Replace the image with a user profile icon (font-awesome user icon) -->
        <i class="fas fa-user-circle fa-4x" style="margin-left: 40%;"></i>
      </div>
      <!--Body-->
      <div class="modal-body text-center mb-1">
        <h5 class="mt-1 mb-2" style="margin-left:8%; position: relative;">Your Account</h5>
        <!-- Your password input field remains unchanged -->
        
        <!-- Logout button at the bottom center -->
        <div class="text-center mt-4" style="position:relative;">
          <button class="btn btn-cyan mt-1 my-button" [routerLink]="['']" data-dismiss="modal">Logout <i class="fas fa-sign-out-alt ml-1"></i></button>
          <button class="btn btn-cyan mt-1 my-button" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>






<mat-toolbar color="primary" class="other-navbar" style="width: 100%;">
  <span style="margin-left: 34%;  width:100%; font-size: 130%;">mindcraft.in | All rights reserved</span>
</mat-toolbar>