/* Remove previous styles */
.mat-row:not(:last-child) {
  border-bottom: none; /* Remove the border between rows */
}

.table-container {
  width: 100%; /* Adjust the width as needed */
  height: 77%; /* Adjust the height as needed */
  overflow: auto; /* Add a scrollbar if the content overflows */
  border: none; /* Remove borders */
  table-layout: fixed;
  
}

.column-names {
  background-color: #e0e0e0; /* Background color for column names row */
  font-weight: bold; /* Make column names bold */
}

.table-card {
  width: 80%; /* Adjust the width of the card as needed */
  height: 80%; /* Adjust the height of the card as needed */
  margin-top: 3%;
  margin-left: 10%; /* Reset margin-left */
}

.mat-elevation-z8 {
  width: 100%; /* Adjust the width as needed */
  margin-left: 0; /* Reset margin-left */

}



.data-row {
  margin-left: 0; /* Reset margin-left */
}




.container{

  height: 66%;
  margin-top: 8.7%;
}


/* .btn {
  padding: .55rem 1.5rem .45rem;
} */