
<nav class="navbar navbar-light bg-light" style="background-color: darkblue; height:10%"><br>
    <a style="margin-left:45%; font-size: 200%; color:white">MINDCRAFT</a>
</nav>

<div class="login-container">
    <div class="login-card">
      <h1 class="login-heading">ADD Courses</h1>
      <form [formGroup]="createForm" >
        <div class="input-container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" id="courseid" formControlName="courseid" class="form-control" placeholder="Course ID">&nbsp;&nbsp;
                <div class="text-danger" *ngIf="createForm.get('courseid').hasError('required') && createForm.get('courseid').touched">Course ID is required.</div>
              </div><br>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" id="coursename" formControlName="coursename" class="form-control" placeholder="Course Name">
                <div class="text-danger" *ngIf="createForm.get('coursename').hasError('required') && createForm.get('coursename').touched">Course Name is required.</div>
              </div>
            </div>
            
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" id="coursedesc" formControlName="coursedesc" class="form-control" placeholder="Course Desc">
                <div class="text-danger" *ngIf="createForm.get('coursedesc').hasError('required') && createForm.get('coursedesc').touched">Course Desc is required.</div>
              </div><br><br>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" id="gender" formControlName="trainername" class="form-control" placeholder="Trainer Name">
                <div class="text-danger" *ngIf="createForm.get('trainername').hasError('required') && createForm.get('trainername').touched">Trainer Name is required.</div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" id="softwarereq" formControlName="softwarereq" placeholder="Software requirement"  class="form-control">
                <div class="text-danger" *ngIf="createForm.get('softwarereq').hasError('required') && createForm.get('softwarereq').touched">Software requirement of Birth is required.</div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="stardate" style="margin-left:-67%;">Start Date:</label>
                <input type="date" id="startdate" placeholder="Start Date" formControlName="startdate" class="form-control">
                <div class="text-danger" *ngIf="createForm.get('startdate').hasError('required') && createForm.get('startdate').touched">Start Date is required.</div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="enddate" style="margin-left:-84%;">End Date:</label>
                <input type="date" id="enddate" style="margin-left:-410px; width:40%" formControlName="enddate" placeholder="End Date"  class="form-control">
                <div class="text-danger" *ngIf="createForm.get('enddate').hasError('required') && createForm.get('enddate').touched">End Date of Birth is required.</div>
              </div>
            </div>
          </div>
        </div>
        
  
        <button type="submit" class="btn btn-primary">Submit</button><br><br>
      </form>
    </div>
  </div>
  
  <nav class="navbar navbar-light bg-light" style="background-color: darkblue; height:10%"><br>
    <a style="margin-left:34%; font-size: 200%; color:white">mindcraft.in | All rights reserved</a>
</nav>