<mat-toolbar color="primary" class="other-navbar" style="width: 1366px;">
  <span style="margin-left: 580px; font-size: 30px;">MINDCRAFT</span>
</mat-toolbar>



<div class="login-container">
  <div class="login-card"><br><br>
    <h1 class="login-heading" style="margin-top:-10%">Login</h1>
    <form [formGroup] = "loginForm">
      <div class="input-field">
        <select placeholder="Role" id="role" formControlName="role" type="text">
          <option value="student">student</option>
          <option value="teacher">teacher</option>
        </select>
      </div>
      <div class="input-field"><br>
        <input formControlName="username" placeholder="Username" type="text">
        <div style="color:red" class="text-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
        Username is required.
        </div>
      </div>
      <div class="input-field"><br>
        <input formControlName="password" placeholder="Password" type="password">
        <div style="color:red" class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
        Password is required.
        </div>
      </div><br>
      <button type="submit" (click)="onSubmit()">Login</button><br><br>
    </form>
  </div>
</div>


<mat-toolbar color="primary" class="other-navbar"  style="width: 1366px; position: relative;">
  <span style="margin-left: 470px; font-size: 30px;">mindcraft.in | All rights reserved</span>
</mat-toolbar>