<div class="login-container">
  <div class="login-card">
    <h1 class="login-heading">Login</h1>
    <form [formGroup] = "loginForm">
      <div class="input-field">
        <select placeholder="Role" id="role" name="role">
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
      </div>
      <div class="input-field">
        <input formControlName="username" placeholder="Username" type="text">
        <div style="color:red" class="text-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
          Username is required.
        </div>
      </div>
      <div class="input-field">
        <input formControlName="password" placeholder="Password" type="password">
        <div style="color:red" class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          Password is required.
        </div>
      </div>
      <button type="submit">Login</button><br><br>

      <a style="margin-left: 80px;">Not have an account? Create one.</a><br><br>
      <a [routerLink]="['/create']" style="margin-left: 130px;">student</a> |
      <a [routerLink]="['/create-teacher']">Teacher</a>
    </form>
  </div>
</div>
