<div class="login-container">
    <div class="login-card">
      <h1 class="login-heading">Login</h1>
      <form>
        <div class="input-field">
          <select placeholder="Role" id="role" name="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
        </div>
        <div class="input-field">
          <input placeholder="Username" type="text" id="username" name="username" required title="please enter the Username">
        </div>
        <div class="input-field">
          <input placeholder="Password" type="password" id="password" name="password" required title = "please enter the password">
        </div>
        <button type="submit">Login</button><br><br>

        <a href="#" style="margin-left: 80px;">Not have an account? Create one.</a><br><br>
        <a href="#" style="margin-left: 130px;">student</a> |
        <a href="#">Teacher</a>
      </form>
    </div>
  </div>
  