<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <h1 class="login-heading">Create Account for student</h1>
      <form>
      
        <div class="input1-container">
          <div class="normal-input">

            <input type="text" id="firstname" name="firstname" placeholder="Firstname"><br><br>
          </div>
          <div class="normal-input">
            
            <input type="number" id="age" name="age" placeholder="Age"><br><br>
          </div>
          <div class="normal-input">
            
            <input type="date" id="dob" name="dob"><br><br>
          </div>
        </div>

      
        <div class="input2-container">
          <div class="normal-input">
            
            <input type="text" id="lastname" name="lastname" placeholder="Lastname"><br><br>
          </div>
          <div class="normal-input">
            
            <input type="text" id="gender" name="gender" placeholder="Gender"><br><br>
          </div>
          <div class="normal-input">
            
            <input type="text" id="location" name="location" placeholder="Location"><br><br>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
